<ion-header>
  <ion-toolbar>
    <!-- Logo a la izquierda -->
    <ion-buttons slot="start">
      <ion-button>
        <img src="assets/images/logo-home.png" alt="Logo" style="width: 30px; height: 30px;"/>
      </ion-button>
    </ion-buttons>

    <!-- Título y botón -->
    <ion-title>
      Mi Washer
    </ion-title>

    <ion-buttons slot="end">
        <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <!-- Status CERRADA debajo de Mi Washer -->
  <div class="status">
    <ion-icon name="ellipse"></ion-icon>
    <span>Abierto</span>
  </div>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="center-content">
      <ion-img src="assets/images/logo-lavadoras.png"></ion-img>
     
    </ion-card-content>
    <p id="texto-logo">Esperando nuevos servicios de Washos</p>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-segment value="domicilio">
        <ion-segment-button value="domicilio"><p>Recoleccion a domicilio</p></ion-segment-button>
        <ion-segment-button value="washer"><p>Entrega a mi Washer</p></ion-segment-button>
      </ion-segment>
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar placeholder="Buscar..."></ion-searchbar>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let servicio of servicios">
      <ion-thumbnail slot="start">
        <img src="assets/images/pedido.png">
      </ion-thumbnail>
      <ion-label>
        <p>ID: {{ servicio.id }}</p>
        <p>Washo: {{ servicio.nombre }}</p>
        <p>Fecha: {{ servicio.fecha }} - {{ servicio.hora }}</p>
        <p class="envio">Envío: {{ servicio.tipoEnvio }}</p>
        <div class="buttons">
          <ion-button id="boton-cancelar" size="large" fill="solid">Cancelar</ion-button>

          <ion-button id="btn-aceptar" size="large" color="primary">Aceptar</ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>


<!-- Navbar inferior solo para móvil -->
<ion-footer class="mobile-only">
  <ion-toolbar>
    <ion-segment >
      <ion-segment-button value="home" >
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="map">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Pendientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="schedule">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Configiración</ion-label>
      </ion-segment-button>
      <ion-segment-button value="profile" >
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-footer>