<ion-header>
  <ion-toolbar>
    <ion-title>Ubicacion de mi Washer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-content">
    <ion-item *ngIf="loading">
      <ion-label>Obteniendo ubicación...</ion-label>
      <ion-spinner name="circles" color="secondary"></ion-spinner>
    </ion-item>
    <div #mapContainer class="mapContainer"></div>

  <ion-item>
    <ion-label position="stacked">Dirección seleccionada</ion-label>
    <ion-input 
      [value]="loading ? 'Cargando...' : selectedAddress" 
      readonly="true" 
      placeholder="Selecciona una dirección en el mapa"></ion-input>
  </ion-item>
  </div>
</ion-content>
<ion-footer style="background: #f5f5f5;">
  <ion-button shape="round" class="container-form-button-cancel" (click)="dismiss()">Cancelar</ion-button>
  <ion-button shape="round" class="container-form-button" (click)="saveLocation()">Guardar</ion-button>
</ion-footer>


