ion-content {
  --background: #ffffff !important;
}

ion-header {
  box-shadow: none !important;
}

.logo-header {
  height: 90px;
  width: auto;
}

.text-direction {
  font-size: 13px;
}

.container-div {
  background-color: var(--color-principal);
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}

.text-2 {
  color: #fff306;
}

.img-div {
  top: 30px;
  right: 20px;
  width: 100px;
  height: auto;
}

ion-refresher {
  background-color: #fff;

  ion-refresher-conten {
    color: #000000;
  }
}


.grid-large {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 40px;
  align-items: center;
}

.grid-small {
  display: flex;
  flex-direction: column; // Elementos en columna
  gap: 20px;
}
