<ion-header>
  <ion-toolbar>
    <!-- Logo a la izquierda -->
    <ion-buttons slot="start">
      <ion-button>
        <img src="assets/images/logo-home.png" alt="Logo" style="width: 30px; height: 30px;" />
      </ion-button>
    </ion-buttons>

    <!-- Título y botón -->
    <ion-title>Mi Washer</ion-title>

    <ion-buttons slot="end">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <!-- Status CERRADA debajo de Mi Washer -->
  <div class="status">
    <ion-icon name="ellipse"></ion-icon>
    <span>Abierto</span>
  </div>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-segment [(ngModel)]="selectedSegment">
        <ion-segment-button value="recibir">
          <p>Por recibir</p>
        </ion-segment-button>
        <ion-segment-button value="ocupados">
          <p>Servicios ocupados</p>
        </ion-segment-button>
        <ion-segment-button value="historial">
          <p>Historial</p>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar [(ngModel)]="searchQuery" (ionInput)= "buscar_pedidos()" placeholder="Buscar por ID o nombre de Washo"></ion-searchbar>
    </ion-card-content>
  </ion-card>



  <ion-list *ngIf="searchQuery?.trim()">
    <ion-item *ngFor="let busqueda of filteredItems">

      <ion-label>
        {{busqueda.nombre}}
      </ion-label>


    </ion-item>

  </ion-list>




  <ion-list *ngIf ="selectedSegment == 'recibir'">
    <ion-item *ngFor="let order of ordersToReceive">
      <ion-label>
        <p> ID: {{order._id}}</p>
        <p>Washo: {{order.userWashoId.name}} {{order.userWashoId.lname}}</p>
        <p>Hora: {{order.estimatedDeliveryDate | date:'short'}}</p>
      </ion-label>

      <ion-button id="boton-recoger" slot="end" shape="round" (click)="recoger_pedido(order)">
        Recibir
      </ion-button>
    </ion-item>
  </ion-list>


  
  <ion-list *ngIf="selectedSegment == 'ocupados'">

    <div *ngIf="ordersInProgress.length > 0">

      <ion-card *ngFor="let order of ordersInProgress">
        <ion-card-header>
          <ion-card-title>{{ order.createdAt }}</ion-card-title>
        </ion-card-header>
    
        <ion-badge [color]="
  (order.status === 'Pago efectivo' || order.status === 'Pago tarjeta') ? 'success' : 
  (order.status === 'Lavando' || order.status === 'Secando' || order.status === 'Finalizado') ? 'success' : 'danger'">
          {{ 
            order.status === 'Cotizada' ? 'Pendiente por pagar o definir pago' : 
            order.status === 'Pago efectivo' ? 'Pago en efectivo contra entrega' :
            order.status === 'Pago tarjeta' ? 'Pago realizado: ' + order.status : 
            order.payType 
          }}
        </ion-badge>
    
        <ion-card-content>
          <p>Fecha de entrega: {{ order.estimatedDeliveryDate }}</p>
  
          
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col *ngFor="let estado of estados; let i = index">
                  <ion-chip [color]="i <= getStatusNow(order.status) ? 'success' : 'medium'">
                    {{ estado }}
                  </ion-chip>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
  
    
          <p><strong>Detergentes:</strong></p>
          <div *ngIf="order.detergentsName && order.detergentsName.length > 0; else noDetergents">
            <p>{{ order.detergentsName.join(', ') }}</p> 
          </div>
    
          <ng-template #noDetergents>
            <p>No hay detergentes seleccionados.</p>
          </ng-template>
  
    
          <ion-chip>ID: {{ order._id }}</ion-chip>
          <ion-chip color="primary">WASHO: {{order.userWashoId.name}} {{order.userWashoId.lname}}</ion-chip>
    
          <ion-button id="boton-lavar" expand="block" (click)="cambiarEstado(order)">
            {{ order.status === 'Finalizado' ? 'Entregar ropa' : estados[getStatusNow(order.status)+1] }}
          </ion-button>
          
          <!-- Estado del servicio en formato iCard -->
  
        </ion-card-content>
      </ion-card>

    </div>
    <div *ngIf="ordersInProgress.length === 0">

      <p id="validar_array">No hay servicios ocupados :c</p>

    </div>

  
  
  
  </ion-list>
  

  <ion-list *ngIf="selectedSegment == 'historial'">

    <div *ngIf="ordersInHistory.length > 0">
      <ion-item *ngFor="let pedido of ordersInHistory">
        <ion-label>
          <h2>Pedido #{{ pedido._id }}</h2>
          <p><strong>Nombre:</strong> {{ pedido.nombre }}</p>
          <p><strong>Washo:</strong> {{pedido.userWashoId.name}} {{pedido.userWashoId.lname}}</p>
          <p><strong>Fecha Solicitud:</strong> {{ pedido.createdAt }}</p>
          <p><strong>Fecha Entrega:</strong> {{ pedido.deliveryDate }}</p>
          <p><strong>Detergentes:</strong> {{ pedido.detergentsName.join(', ') }}</p>
          <p><strong>Status:</strong> {{ pedido.status }}</p>
          <p><strong>Kilos:</strong> {{ pedido.kg }} Kg</p>
          <p><strong>Precio por kg:</strong>34 Kg</p>
          <p><strong>Total:</strong> $ {{pedido.total}}</p>
          <p><strong>Comentarios:</strong> {{ pedido.comment }}</p>
        </ion-label>
      </ion-item>
    </div>
    
    <div *ngIf="ordersInHistory.length === 0">
      <p id="validar_array">No tienes historial disponible :D</p>
    </div>
    


  </ion-list>
</ion-content>

<!--Author: Jesus Gonzalez Leal IDGS08 -->








<!-- Navbar inferior solo para móvil 
<ion-footer class="mobile-only">
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="map">
        <ion-icon name="list-outline" color="warning"></ion-icon>
        <ion-label>Pendientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="schedule">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-segment-button>
      <ion-segment-button value="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>

-->