:root {
  --ion-color-primary: #1e1e1e;
  --ion-color-secondary: #383838;
  --ion-color-tertiary: #e2e2e2;
  --ion-color-light: #ffffff;
  --ion-color-dark: #0d0d0d;
}

body {
  font-family: 'Poppins', sans-serif;

  color: var(--ion-color-light);
  margin: 0;
  padding: 0;
}

ion-content {

}

ion-card {

  color: var(--ion-color-light);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-button {
  --border-radius: 8px;
  --background: var(--ion-color-tertiary);
  --color: var(--ion-color-dark);
  font-weight: bold;
}

ion-button:hover {
  filter: brightness(90%);
}

.custom-modal {
  --width: 90%;
  --height: 60%;
  --border-radius: 12px;
  --background: var(--ion-color-secondary);
  color: var(--ion-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 600px) {
  .custom-modal {
    --width: 95%;
    --height: 70%;
  }
}
