<ion-content>
  <div class="background-washeday">
    <div class="container-washeday">
      <img [src]="'assets/images/login-logo.png'" alt="Logo de la app" style="width: 90%; max-width: 380px; min-width: 100px;"/>
      <div class="container-frame-text">
        <ion-text class="container-text">
          Siempre
        </ion-text>
      </div>
      <div class="container-frame-text">
        <ion-text class="container-text-client">
          Ropa limpia
        </ion-text>
      </div>
      
    </div>
    <div class="container-washeday">
    <div class="container-form-card">
      <div class="container-form-card-intern">
        <div class="container-form-title">
          Inicia sesión
        </div>
        <form style="width: 100%;" [formGroup]="loginForm" (ngSubmit)="onLogin()" >
          <ion-item class="container-form-input">
            <ion-input  type="email" placeholder="Correo" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="container-form-input-error">
            <ion-text>
              <p>{{ getErrorMessage('email') }}</p>
            </ion-text>
          </div>
          <ion-item class="container-form-input">
            <ion-input  [type]="passwordType" placeholder="Ingresa contraseña" formControlName="password"></ion-input>
            <ion-icon
              name="{{ passwordIcon }}"
              slot="end"
              class="password-toggle-icon"
              (click)="togglePasswordVisibility()"></ion-icon>
          </ion-item>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="container-form-input-error">
            <ion-text>
              <p>{{ getErrorMessage('password') }}</p>
            </ion-text>
          </div>
          <div class="container-washeday">
            <ion-button shape="round" class="container-form-button" [disabled]="loginForm.invalid" type="submit">Iniciar sesión</ion-button>
          </div>
        </form>
        <div class="container-form-title">
          <p>
            <span>¿No tienes cuenta? </span>
            <a class="container-link" (click)="openRoleSelectionModal()">Regístrate aquí</a>
          </p>
        </div>
      </div>
    </div>
   </div>
  </div>
</ion-content>
<!-- Modal de selección de rol -->
<div id="roleSelectionModal" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    
    <div class="modal-header">
      <h1>¿Qué eres?</h1>
    </div>
    
    <div class="role-options">
      <!-- Botón WASHO -->
      <div class="role-option" (click)="selectRole('WASHO')">
        <div class="role-image-wrapper">
          <img src="assets/images/washo-option.png" alt="WASHO" class="role-image">
        </div>
        <div class="role-info">
          <h2>WASHO</h2>
          <p>Mandar mi ropa a lavar</p>
          <div class="benefit">
            <ion-icon name="time-outline"></ion-icon>
            <span>AHORRAR TIEMPO</span>
          </div>
          <div class="benefit">
            <ion-icon name="search-outline"></ion-icon>
            <span>Encuentra Washes Confiables</span>
          </div>
        </div>
      </div>
      
      <!-- Botón WASHER -->
      <div class="role-option" (click)="selectRole('WASHER')">
        <div class="role-image-wrapper">
          <img src="assets/images/washer-option.png" alt="WASHER" class="role-image">
        </div>
        <div class="role-info">
          <h2>WASHER</h2>
          <p>Ofrecer mis servicios</p>
          <div class="benefit">
            <ion-icon name="cash-outline"></ion-icon>
            <span>AUMENTAR INGRESOS</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
