<ion-header>
  <ion-toolbar>
    <ion-title>Datos de tu lavanderia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-content">
    <form [formGroup]="profileForm">
      <br>
        <ion-input
          formControlName="name"
          fill="outline"
          label-placement="floating"
          type="text"
          label="Nombre de la lavanderia" 
          placeholder="Nombre de la lavanderia"
          [(ngModel)]="name"
          required
          [class.invalid]="profileForm.get('name')?.touched && profileForm.get('name')?.invalid"
        ></ion-input>
      <br><br>
        <ion-input
          formControlName="phone"
          fill="outline"
          label-placement="floating"
          type="text"
          label="Teléfono" 
          placeholder="Teléfono"
          [(ngModel)]="phone"
          required
          [class.invalid]="profileForm.get('phone')?.touched && profileForm.get('phone')?.invalid"
        ></ion-input>
    </form>
  </div>
</ion-content>
<ion-footer style="background: #f5f5f5;">
  <ion-button shape="round" class="container-form-button-cancel" (click)="dismiss()">Cancelar</ion-button>
  <ion-button shape="round" class="container-form-button" (click)="saveMyProfile()" [disabled]="profileForm.invalid">Guardar</ion-button>
</ion-footer>



