ion-footer {
    padding: 12px;
    display: flex;
    justify-content: space-between;
  }
  .modal-content{
    padding: 5px;
  }
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
  }
  .mapContainer {
    width: 100%;
    height: 350px;
    cursor: pointer;
  }
  .container-form-button{
    --background: #219EBC !important;
    border-radius: 32px !important;   
    text-transform: capitalize;
}
.container-form-button-cancel{
  --background: #8F8F8F;
  border-radius: 32px !important;   
  text-transform: capitalize;
}
ion-checkbox {
    --background: transparent;
    --border-color: #219EBC; 
    --checkmark-color: #fff; 
    --checkbox-background-checked: #219EBC;
    --checked-border-color: #219EBC; 
  }
ion-checkbox::part(container) {
    border: 3px solid #219EBC;
  }
  ion-item .valid {
    --highlight-color-focused: #219EBC; 
    --color: #219EBC; 
  }


