<ion-header>
  <ion-toolbar>
    <ion-title>Selecciona y agrega tus detergentes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-content">
  <br>
  <form #Form="ngForm">
  <ion-input 
     fill="outline" 
     label="Nombre del detergente" 
     label-placement="floating" 
     [(ngModel)]="newDetergent" 
     name="newDetergent" 
     placeholder="Nombre del detergente" 
     required ></ion-input>

  <ion-button shape="round" class="container-form-button" expand="full" (click)="addDetergent()" [disabled]="!Form.valid">Agregar detergente</ion-button>
  <br>
  <p>Selecciona los detergentes que tienes disponible: </p>

  <ion-row *ngFor="let detergent of detergents" class="ion-align-items-between">
    <ion-col size="8">
      <ion-checkbox 
        [(ngModel)]="detergent.active" 
        [name]="detergent.name + '-selected'" 
        labelPlacement="end">
        {{ detergent.name }}
      </ion-checkbox>
    </ion-col>
    <ion-col size="4" class="ion-text-end">
      <ion-button fill="clear" color="danger" (click)="deleteDetergent(detergent)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</form>
</div>
</ion-content>
<ion-footer style="background: #f5f5f5;">
  <ion-button shape="round" class="container-form-button-cancel" (click)="dismiss()">Cancelar</ion-button>
  <ion-button shape="round" class="container-form-button" (click)="saveDetergents()" >Guardar</ion-button>
</ion-footer>

